%span#article-index TIN TỨC


- @articles.each do |art|
	.article-box
		.box-md-1-3
			#article-box-image=link_to image_tag(art.photo.thumb.url), article_url(art)
		.box-md-2-3
			#article-box-title=link_to art.title, article_url(art) 
			#article-box-description= raw(art.description[0..200]+'...') 
			=link_to "read more","#" 
= paginate @articles
