%span#article-show-types= @article.types.join(" - ").mb_chars.upcase.to_s 
%span#article-show-title= @article.title
#article-show-image= image_tag(@article.photo)
%span#article-show-description= raw(@article.description)
