.add-to-cart-modal
	%p.add-to-cart{class: "btn btn-md btn-primary"} Add to cart
	#add-to-cart-modal.modal.fade
		.modal-dialog 
			.modal-content
				.modal-header
					%button.close{class: "btn", "data-dismiss" => "modal"} hehehe
				.modal-footer
					%button{class: "btn btn-default", "data-dismiss" => "modal"} Close
					%button{class: "btn btn-primary"} Add
	/ %p.add_to_cart{class: "btn btn-warning #{product.id}", id: product.id} Add to cart
