.product_show
  #name Product name:  
  %h2= @product.product_name
  #code Product Code:  
  %h2= @product.product_code
  #description "Description: "
  %h2= @product.description
  #price Price: 
  %h2= @product.price


