.col-md-3.navi-left
	%span DANH MỤC SẢN PHẨM
	%ul#product-list
		- Product.all.flat_map(&:type).uniq.each do |type|
			%li{id: "#{type}"}
				=link_to type.capitalize, "/products?search=#{type}"
	.news-col
		%span
			TIN NỔI BẬT
		- Article.all[-5..-1].reverse.each do |article|
			#article-block.row
				#art-photo.col-md-4= image_tag(article.photo.small_thumb.url)
				#art-body.col-md-8
					#art-title=link_to article.title[0..50], article_url(article)
					#art-description= article.description[0..70] + '...'
